<%= form_with(model: jig, local: true) do |form| %>
  <% if jig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jig.errors.count, "error") %> prohibited this jig from being saved:</h2>

      <ul>
      <% jig.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :jig_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :jig_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
